	.wp-shareshiv, .fb-shareshiv{
			margin: 0px 2px 5px;
			padding: 5px !important;
			border-radius: 0px !important;
			overflow: hidden;
			transition: all ease-in-out 0.3s !important;
		}
	.wp-shareshiv:hover, .fb-shareshiv:hover{
			margin-top: -10px;
		}